.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App .react-calendar-heatmap .color-empty {
  fill: #e0f3ff;  
}

.App .react-calendar-heatmap .color-github-1 {
  fill: #acd5f2;
}

.App .react-calendar-heatmap .color-github-2 {
  fill: #7fa8d1;
}

.App .react-calendar-heatmap .color-github-3 {
  fill: #49729b;
}

.App .react-calendar-heatmap .color-github-max {
  fill: #1f4a73; 
}

